[Unit]
Description=EncryptedSync - clear plaintext on system shutdown
DefaultDependencies=no
Before=shutdown.target
Conflicts=shutdown.target

[Service]
Type=oneshot
WorkingDirectory=/usr/lib/encryptsync
# Si tu effaces du clair dans /home/<user>, exécute en tant que ce user :
ExecStart=/usr/bin/runuser -l <USER> -c '/usr/bin/python3 /usr/lib/encryptsync/encryptsyncctl.py clear --yes'
TimeoutStartSec=180
StandardOutput=journal
StandardError=journal
Environment=PATH=/usr/bin:/bin

[Install]
WantedBy=halt.target
WantedBy=poweroff.target
WantedBy=reboot.target
